input[type="text"] {
    height: 30px;

    font-size: 1.2rem;

    border: none;

    background-color: #C4C4C4;
}

.botoes {
    display: flex;

    gap: 70px;
}

.calcular, .novoCalculo {
    width: 8vw;
    height: 40px;

    font-size: 1.2rem;
    line-height: 40px;
    text-align: center;

    cursor: pointer;
    border: none;
    background-color: #C4C4C4;
}

.novoCalculo > a {
    color: #000;
    text-decoration: none;
}