body {
    font-family: 'Roboto', sans-serif;
}

.conteudo {
    height: calc(100vh - 100px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo {
    width: 50%;
    height: 80px;

    background-color: #CCCCDD;
}

.titulo>p {
    font-size: 1.7rem;

    text-align: center;
    line-height: 80px;
}

#form {
    width: 50%;
    background-color: #EFEFEF;

    justify-content: center;
    padding-top: 40px;
}

form {
    width: 100%;
}

.inicial,
.final {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    gap: 15px;

    font-size: clamp(1rem, 1.8vw, 1.4rem);
}

.final {
    margin-top: 30px;
    margin-left: 48px;
    gap: 13px;
}

select {
    width: 12vw;
    height: 25px;
    background-color: #C4C4C4;
    font-size: 1rem;
}

.interativo {
    position: relative;
}

.calcular {
    width: 8vw;
    height: 40px;

    position: absolute;
    top: 20px;
    left: 400px;

    background-color: #C4C4C4;
    font-size: clamp(0.8rem, 1.3vw, 1.2rem);
    border: none;
    cursor: pointer;
}

.resultados {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 30px;
}

.par,
.impar {
    background-color: #CCCCDD;
    width: 15vw;
    height: 50px;
    text-align: center;
    font-size: clamp(1rem, 1.4rem, 2rem);
    line-height: 50px;
}

.numeros {
    height: 300px;
    text-align: center;
    font-size: 1.2rem;

    background-color: #C4C4C4;
    overflow: scroll;
}

p {
    font-size: 1.4rem;
}